*~
.DS_Store
.idea
sqlnet.log
*.log
*.pid
*.pyc
*.pot
*.csv
local_settings.py
gunicorn.py
.vagrant
*.sqlite3
*.db
secure*.py*
!secure.py.example
!secure.py.j2
data/
selenium_tests/reports/
secure.*
parameters.*
# files generated via `runserver_plus` CLI command
*.crt
*.key
