{% load static %}

<div class="col-md-12">
    <hr width="98%">
</div>

{% verbatim %}
<!-- 4 column row  -->
<!-- column 1 -->
<div class="col-md-3">
  <p>
      <span ng-show="ml.isSisList(list)" ><em>SIS</em></span>
      <span ng-show="ml.isManageSectionsList(list)" ><em>Canvas</em></span>
    <strong>{{ list.name }}</strong><br />(<a class="link-text lti-tooltip"
        rel="tooltip"
        title=""
        data-original-title="Members emails"
        data-toggle="tooltip"
        href="{{ ml.listMembersUrl(list) }}"><ng-pluralize count="list.members_count"
                    when="{'0': 'No members', 'one': '1 member', 'other': '{} members'}"></ng-pluralize></a>)
  </p>
</div>

<!-- column 2 -->
<div class="col-md-3">
  <p ng-class="list.access_level == 'readonly' ? 'caption-disabled' : ''" style="word-wrap:break-word;">
    <a id="email-section-{{ list.section_id }}"
       target="_top"
       href="mailto:{{ list.address }}"
       ng-disabled="list.access_level == 'readonly'"
       class="ng-binding editSection lti-tooltip"
       rel="tooltip"
       data-toggle="tooltip"
       title="" data-original-title="Click this link to send an email">
       <i class="fa fa-envelope"></i> {{ list.address }}
    </a>
  </p>
</div>

{% endverbatim %}

<!-- column 3 -->
<div class="col-md-5">
    <p>
        <strong
                ng-bind="ml.accessLevelDisplayNameMap[list.access_level]['{{ scope }}']">
        </strong> - <span ng-bind-html="ml.accessLevelDescriptionMap[list.access_level]['{{ scope }}']"></span>
    </p>
</div>

<!-- column 4 -->
<div class="col-md-1 editMenu">
    {% verbatim %}
    <a href="#"
       class="editSection lti-tooltip"
       rel="tooltip"
       data-toggle="modal"
       data-target="#permissions-modal-{{ list.section_id }}"
       ng-click="ml.updatedAccessLevel = list.access_level"
       title="Edit {{ list.name }}"
       data-original-title="Edit {{ list.name }}">
        <i class="fa fa-gear"></i>
    </a>
    {% endverbatim %}
    <img src="{% static 'images/ajax-loader-small.gif' %}" ng-show="list.isUpdating" class="ng-hide">
    <span class="text-success feedback ng-hide" ng-show="list.updated">✓</span>
    <span class="text-danger feedback ng-hide" ng-show="list.update_failed">✗</span>
</div>


<!-- Modal -->

{% verbatim %}
  <div id="permissions-modal-{{ list.section_id }}" class="modal fade">
{% endverbatim %}
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
{% verbatim %}
              <label for="permissions-input-{{ list.section_id }}" class="ic-Label">
                Change Permissions
              </label>
            </h4>

          </div>
          <div class="modal-body">
              <p class="caption">
                If you would like a copy of your email, add your own email address to the CC or BCC field.
              </p>
              <p ng-show="!list.is_primary_section" class="caption">
                Any email sent to a section will be delivered to all staff in the course, even if they
                  have not been added to the section.
              </p>
              <div id="permissions-input-{{ list.section_id }}">
                  <div class="indented-radio-block"
                       ng-repeat="access_level in ml.accessLevels">
                      <input type="radio"
                             class="indented-radio-block-input"
                             id="permissions-radio-{{ list.section_id }}-{{ access_level.id }}"
                             ng-model="ml.updatedAccessLevel"
                             value="{{ access_level.id }}">
                      <label class="indented-radio-block-label"
                             for="permissions-radio-{{ list.section_id }}-{{ access_level.id }}">
{% endverbatim %}
                          <span ng-bind="access_level.name['{{ scope }}']"></span>
                      </label>
                      <span ng-bind-html="access_level.description['{{ scope }}']"></span>
                      <br/>
                  </div>
              </div>
          </div>
            <div class="modal-footer">
                <div class="ic-Form-actions">
                    <a href="#" data-dismiss="modal">Cancel</a>
                    <button type="button"
                            class="btn btn-primary btn-submit"
                            data-dismiss="modal"
                            ng-click="ml.updateAccessLevel(list)">
                        Update Permissions
                    </button>
                </div>
            </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
