{% extends 'mailing_list/base.html' %}

{% load static %}

{% block body %}
<body class="lti-tool"
      role="application"
      ng-controller="MailingListController as ml">
  <header>
    <h1>
      {% block breadcrumbs %}Course Emailer{% endblock breadcrumbs %}
    </h1>
  </header>
  <div class="loading-indicator" ng-show="ml.isLoading">
    <img src="{% static 'images/ajax-loader-large.gif' %}"/>
  </div>
  <main class="ng-hide" ng-show="ml.loaded">
    <div ng-show="ml.hasPrimarySections()">
      <h2><strong>Official course mailing list:</strong></h2>
      <p class="caption">
        The mailing list contains teaching staff, students, and others
        who have been added to this course.
        <a target="_blank" href="https://wiki.harvard.edu/confluence/display/canvas/Course+Emailer " title="More info about the Course Emailer"><i class="fa fa-question-circle"></i></a>
      </p>
      <div ng-repeat="list in ml.primarySectionLists">
        {% include "mailing_list/_mailing_list_details.html" with scope="class" %}
      </div>
    </div>
    <div ng-show="!ml.hasPrimarySections()">
      <p>
        There was an error retrieving the class mailing list for this course.
        Please contact your local academic support staff for assistance.
      </p>
    </div>
    <div ng-show="ml.hasOtherSections()">
      <h2><strong>Sections:</strong></h2>
        <p class="caption">
          These sections are created in the Manage Sections tool (if installed in your account) or are being sent from the Registrar's Office. Any changes made to those sections will be reflected within these lists.
        </p>
        <div class="content-section" ng-repeat="list in ml.otherSectionLists">
          {% include "mailing_list/_mailing_list_details.html" with scope="section" %}
        </div>
    </div>
  </main>
</body>
{% endblock body %}
