{% load static %}

{% comment %}
  This template is used to provide the harvard-bootstrap CSS configuration
  required for a stripped-down version of the original Manage Sections tool
  (which doesn't require any of the Angular or lti-less stuff in base.html).
  This is a workaround for issues of overlapping body styles until we either
  re-adopt bootstrap or continue porting the Manage Sections tool to the
  lti-less workflow.
{% endcomment %}

<!DOCTYPE html>
<html lang="en" ng-app="mailingList">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'lti-css/listserv.css' %}" media="screen"/>
    {% block css %}{% endblock css %}
    <script src="{% static 'jquery-1.10.2/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static "bootstrap-3.0.3/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "listjs/list.min.js" %}"></script>
    {% include 'django_auth_lti/resource_link_id.html' %}
    {% block js %}{% endblock js %}
    <title>Course Emailer</title>
</head>
{% block body %}{% endblock body %}
</html>
