{% load static %}

<!DOCTYPE html>
<html lang="en" ng-app="mailingList">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'lti-css/tooltipModal.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'harvard-bootstrap/css/harvard-bootstrap.css' %}" media="screen"/>
    {% block css %}{% endblock css %}
    <script src="{% static 'jquery-1.10.2/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'underscore-1.8.2/underscore.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.0.3/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular-animate.min.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
    {% include 'django_auth_lti/resource_link_id.html' %}
    <script src="{% static 'mailing_list/js/app.js' %}"></script>
    {% block js %}{% endblock js %}
    <title>Course Emailer</title>
</head>
{% block body %}{% endblock body %}
</html>
