{% load static %}

<!DOCTYPE html>
<html lang="en" ng-app="mailingList">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.4/bootstrap.min.css' %}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{% static 'mailing_list/css/app.css' %}" media="screen"/>
    {% endblock stylesheet %}
    <script src="{% static 'jquery-1.10.2/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'underscore-1.8.2/underscore.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.4/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular-animate.min.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
    {% include 'django_auth_lti/resource_link_id.html' %}
    <script src="{% static 'mailing_list/js/app.js' %}"></script>
    <title>Mailing List</title>
</head>
<body class="lti-tool" role="application" ng-controller="MailingListController as ml">
    <header>
        <h1>{% block breadcrumbs %}Course Emailer{% endblock breadcrumbs %}</h1>
    </header>
    <div class="loading-indicator" ng-show="ml.isLoading">
        <img src="{% static 'mailing_list/images/ajax-loader-large.gif' %}"/>
    </div>
    <main class="ng-hide" ng-show="ml.loaded">
        <div id="course-sections" ng-show="ml.hasPrimarySections()">
            <h2>Course Sections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Section Name</th>
                        <th>Mailing List Address</th>
                        <th>Number of Recipients</th>
                        <th>Who can post to this list?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in ml.primarySectionLists">
                        {% verbatim %}
                        <td>{{ list.name }}</td>
                        <td>
                            <span ng-show="list.access_level == 'readonly'">{{ list.address }}</span>
                            <a href="mailto:{{ list.address }}" ng-show="list.access_level != 'readonly'">{{ list.address }}</a>
                        </td>
                        <td>{{ list.members_count }}</td>
                        {% endverbatim %}
                        <td>
                            <select ng-model="list.access_level" ng-options="l.id as l.name for l in ml.accessLevels" ng-change="ml.updateAccessLevel(list)"></select>
                            <img src="{% static 'mailing_list/images/ajax-loader-small.gif' %}" ng-show="list.isUpdating"/>
                            <span class="text-success feedback" ng-show="list.updated">&#10003;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="other-sections" ng-show="ml.hasOtherSections()">
            <h2>Other Sections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Section Name</th>
                        <th>Mailing List Address</th>
                        <th>Number of Recipients</th>
                        <th>Who can post to this list?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in ml.otherSectionLists">
                        {% verbatim %}
                        <td>{{ list.name }}</td>
                        <td>
                            <a href="mailto:{{ list.address }}">{{ list.address }}</a>
                        </td>
                        <td>{{ list.members_count }}</td>
                        {% endverbatim %}
                        <td>
                            <select ng-model="list.access_level" ng-options="l.id as l.name for l in ml.accessLevels" ng-change="ml.updateAccessLevel(list)"></select>
                            <img src="{% static 'mailing_list/images/ajax-loader-small.gif' %}" ng-show="list.isUpdating"/>
                            <span class="text-success feedback" ng-show="list.updated">&#10003;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
