{% load static %}

<!DOCTYPE html>
<html lang="en" ng-app="mailingList">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.4/bootstrap.min.css' %}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{% static 'mailing_list/css/app.css' %}" media="screen"/>
    {% endblock stylesheet %}
    <title>Mailing List</title>
</head>
<body class="lti-tool" role="application" ng-controller="MailingListController as ml">
    <header>
        <h1>{% block breadcrumbs %}Mailing List{% endblock breadcrumbs %}</h1>
    </header>
    <main>
        {% verbatim %}
        <table class="table">
            <tbody>
                <tr ng-repeat="list in ml.mailingLists">
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-show="!list.active" ng-click="ml.toggleActive(list)">Enable</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-show="list.active" ng-click="ml.toggleActive(list)">Disable</button>
                    </td>
                    <td>
                        <span ng-show="!list.active">{{ list.address }}</span>
                        <a href="mailto:{{ list.address }}" ng-show="list.active">{{ list.address }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endverbatim %}
    </main>
    <script src="{% static 'jquery-1.10.2/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'underscore-1.8.2/underscore.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.4/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular.min.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
    <script src="{% static 'mailing_list/js/app.js' %}"></script>
    <script>
        window.globals = {
            RESOURCE_LINK_ID: '{{ resource_link_id }}'
        };
    </script>
</body>
</html>
