{% extends 'mailing_list/base.html' %}

{% load static %}


{% block body %}
<body class="lti-tool" role="application" ng-controller="MailingListController as ml">
    <header>
        <h1>{% block breadcrumbs %}Course Emailer{% endblock breadcrumbs %}</h1>
    </header>
    <div class="loading-indicator" ng-show="ml.isLoading">
        <img src="{% static 'mailing_list/images/ajax-loader-large.gif' %}"/>
    </div>
    <main class="ng-hide" ng-show="ml.loaded">
        <div class="alert alert-info" role="alert" ng-show="!ml.hasPrimarySections() && !ml.hasOtherSections()">
            There are not any mailing lists for this course at this time.
        </div>
        <div id="course-sections" ng-show="ml.hasPrimarySections()">
            <h2>Course Sections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Section Name</th>
                        <th>Mailing List Address</th>
                        <th>Number of Recipients</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in ml.primarySectionLists">
                        {% verbatim %}
                        <td>{{ list.name }}</td>
                        <td>
                            <span ng-show="list.access_level == 'readonly'">{{ list.address }}</span>
                            <a href="mailto:{{ list.address }}" ng-show="list.access_level != 'readonly'">{{ list.address }}</a>
                        </td>
                        <td>{{ list.members_count }}</td>
                        {% endverbatim %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="other-sections" ng-show="ml.hasOtherSections()">
            <h2>Other Sections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Section Name</th>
                        <th>Mailing List Address</th>
                        <th>Number of Recipients</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in ml.otherSectionLists">
                        {% verbatim %}
                        <td>{{ list.name }}</td>
                        <td>
                            <a href="mailto:{{ list.address }}">{{ list.address }}</a>
                        </td>
                        <td>{{ list.members_count }}</td>
                        {% endverbatim %}
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
{% endblock body %}
