{% extends 'mailing_list/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen"
      href="{% static "harvard-bootstrap/css/harvard-bootstrap.css" %}" />
{% endblock css %}

{% block js %}
<script src="{% static 'mailing_list/js/alphabet_pagination.js' %}"></script>
{% endblock js %}

{% block body %}
<body class="lti-tool" role="application">
  <header>
    <h1>
      {% block breadcrumbs %}
      <a href="{% url 'mailing_list:admin_index' %}">Course Emailer</a>
      &gt; {{ section.name | default:section.id }} Members
      {% endblock breadcrumbs %}
    </h1>
  </header>

  <main>
    {% if enrollments %} 
    <ul id="people-list" class="list-group list-section">
      {% include "mailing_list/_mailing_list_members_by_name.html" %}
    </ul>
    {% else %}
    <div class="jumbotron jumbotron-lti-emptySection ">
      <h4>This section is empty.</h4>
    </div>
    {% endif %}
  </main>
  <script type="">
    $('#people-list').alphabetPagination();
  </script>
</body>
{% endblock body %}
