<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h4>***Your message could not be delivered to mailing list {{ recipient }}.***</h4>
        <p>
            This mailing list does not recognize the email address you are using. This could be because 1) you are not
            enrolled in the course or section, or 2) because you are attempting to send from an email address that is
            not your default address in your Canvas account. <a href="https://wiki.harvard.edu/confluence/pages/viewpage.action?pageId=190909873">Troubleshooting tips</a>
        </p>

        <p>------------------------------</p>
        <p><b>From:</b> {{ sender }}</p>
        <p><b>To:</b> {{ recipient }}</p>
        <p><b>Subject:</b> {{ subject }}</p>
        <p>{{ message_body }}</p>
    </body>
</html>
